{% extends "basic_center.html" %}
{% block centered_content %}

    <div class="wrapper row">
    {% for account in accounts %}
        {% if account.farm_screenshot %}

                <div class="p-0 m-2 card screenshot-card d-inline-block col-sm-1">
                    <img class="screenshot card-img-top" src="{{ account.farm_screenshot }}" alt="Farm image">
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ account.user_id }}</b>'s farm!</h5>
                        <ul class="list-unstyled mb-0">
                            <li>Chickens: </li>
                            <li>Cows: </li>
                            <li>Pigs: </li>
                            <li>Sheep: </li>
                        </ul>
{#                        <a class="btn btn-primary" href="/explore?id={{ account.user_id }}">View this farm</a>#}
                    </div>
                </div>


        {% endif %}
    {% endfor %}
    </div>

{% endblock %}