{# Arguments required for this template #}
{# form:-   object, contains form entry fields #}

{% extends "basic_center.html" %}
{% block centered_content %}

    <div class="text-center mb-5">
        <h1>Page title!</h1>
    </div>

    <div class="mb-5">
        <div class="d-flex justify-content-center">
            <div class="alert alert-info px-5">
                <div class="mb-3 d-flex justify-content-center">
                    <h1>Register</h1>
                </div>
                <form class="" action="" method="post" name="login_form">
                    <div class="row g-3 mb-3 ">
                        <div class="col-1 flex-grow-1">
                            {{ form.name.label(class_="col-form-label") }}
                        </div>
                        <div class="col-auto">
                            {{ form.name(class_="form-control") }}
                        </div>
                    </div>
                    <div class="row g-3 mb-3 ">
                        <div class="col-1 flex-grow-1">
                            {{ form.username.label(class_="col-form-label") }}
                        </div>
                        <div class="col-auto">
                            {{ form.username(class_="form-control") }}
                        </div>
                    </div>
                    <div class="row g-3 mb-3 ">
                        <div class="col-1 flex-grow-1">
                            {{ form.password.label(class_="col-form-label") }}
                        </div>
                        <div class="col-auto">
                            {{ form.password(class_="form-control") }}
                        </div>
                    </div>
                    <div class="row g-3 mb-3 ">
                        <div class="col-1 flex-grow-1">
                            {{ form.password2.label(class_="col-form-label") }}
                        </div>
                        <div class="col-auto">
                            {{ form.password2(class_="form-control") }}
                        </div>
                    </div>
                    <div class="mb-3 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                    <div class=" d-flex justify-content-center">
                        <p class="mb-0"><small>Already have an account? Click <a href="/login">here</a> to login</small></p>
                    </div>
                    {{ form.hidden_tag() }}
                </form>
            </div>
        </div>
    </div>


    {% include "alerts.html" %}


{% endblock %}